GIT_USER=developer
GIT_EMAIL=developer@example.com
ANTHROPIC_AUTH_TOKEN=sk-xxx
ANTHROPIC_BASE_URL=http://host.docker.internal:9001
ANTHROPIC_MODEL=deepseek-v4-pro[1m]
ANTHROPIC_DEFAULT_OPUS_MODEL=deepseek-v4-pro[1m]
ANTHROPIC_DEFAULT_SONNET_MODEL=deepseek-v4-pro[1m]
ANTHROPIC_DEFAULT_HAIKU_MODEL=deepseek-v4-pro[1m]
CLAUDE_CODE_SUBAGENT_MODEL=deepseek-v4-pro[1m]
CLAUDE_CODE_EFFORT_LEVEL=max
